// 默认参数集合


// color
$text-color:        #333333 !default;
$main-color:        #5EAEE3 !default;
$bg-dark-color:     #23313F !default;
$bg-light-color:    #2C3E50 !default;
$bg-grey-color:     #f3f3f3 !default;
$white:             #ffffff !default;

// font-size
$font-size-small:     12px !default;
$font-size-medium:    14px !default;

// z-index
$main-zindex:         1040 !default;
$base-zindex:         1050 !default;

// border
$bar-border:     #eeeeee !default;



// height
$bar-height:          50px !default;

// width
$main-min-width:      1100px !default;