*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
  font-size: 12px;
  line-height: 1.5;
  color: #333333;
  background-color: #f3f3f3;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

i,
em {
  font-weight: normal;
  font-style: normal;
}

ul,
ol,
li {
  list-style: none;
}
